@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 400vh;
}

.container
{
    background: red;
    position: fixed;
    display: flex;
    width: 500%;
    height: 100vh;
    transition: 0.5s ease-out;
}